.co-side-top-head, .co-right-content-top-head {
    text-align: center;
}
.co-sidebar-section {
    padding: 20px;
}
.co-right-content-section{
    margin-left: 0px;
}
.co-side-top-head{
    font-size: 16px;
    color: #121D39;
}
.co-right-content-top-head {
    font-size: 25px;
    color: #121D39;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}
.co-right-sub-text {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    color: #121D39;
}
.co-right-bottom-text {
    font-size: 14px;
    color: #121D39;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0px;
    text-align: center;
    font-weight: bold;
}
/**********/
/*.co-right-bottom-section{
    position: absolute;
    bottom: 90px;
    text-align: center;
    left: 35%;
}*/
/******/
.co-right-bottom-head {
    font-size: 25px;
    color: #121D39;
    margin-bottom: 0px;
    text-align: center;
}
.co-datepicker-section {
    display: flex;
}
.co-input-field .MuiInput-underline:after, .MuiInput-underline:before {
    border-bottom: none !important;
}
.co-datepicker {
    margin-top: 0px !important;
    width: auto !important;
    border: 2px solid #ccc !important;
    padding: 4px 15px 4px 15px !important;
    border-radius: 5px;
}
.co-datepicker-left-icon {
    vertical-align: middle;
}
.co-datepicker-left-icon svg{
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 7px 8px 7px 15px;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 15px;
    color: #ccc;
}
.co-datepicker-right-icon{
    vertical-align: middle;
}
.co-datepicker-right-icon svg {
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc;
    padding: 7px 11px 7px 12px;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 15px;
    color: #ccc;
}
.co-table-header-section {
    padding-left: 15% !important;
    padding-right: 15% !important;
    display: flex;
    padding-top: 40px;
    padding-bottom: 15px;
}
.co-left-table-header-section h2 {
    font-size: 14px;
    color: #121D39;
    margin-top: 0;
}
.co-right-table-header-section svg{
    float: right;
    float: right;
    color: #5A8DEE;
}
.co-table-section {
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.co-table-section .MuiTableCell-root{
    border-right: 1px solid #EEF0F4;
    border-bottom: 1px solid #EEF0F4;
    text-align: center;
    /*rgba(224, 224, 224, 1)*/
}
.co-table-data-user-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 15px;
}
.co-table-main-section .MuiTableCell-body:first-child {
    text-align: left !important;
}
.co-table-main-section .MuiTableCell-head:first-child {
    background-color: #ECF2FF;
    color: #5A8DEE !important;
    font-size: 14px !important;
}
.co-table-main-section .MuiTableCell-head {
    color: #9498A9 !important;
    font-size: 12px !important;
}
.co-table-main-section {
    box-shadow: none !important;
}
.co-right-bottom-section{
    padding-left: 16.5% !important;
    padding-right: 16.5% !important;
}
.co-timetable-left-head-text, .co-timetable-right-head-text{
    font-size: 12px;
    margin-top: 30px;
}
.co-timetable-left-form-section, .co-timetable-add-form-section, .co-timetable-left-subform-section, .co-timetable-right-form-section, .co-timetable-right-between-section, .co-timetable-right-subform-section {
    display: flex;
}
#co-cuenta-nombre-input-field-label-section {
    text-align: center;
    font-size: 12px !important;
    color: #4A4A4A !important;
    padding-bottom: 10px !important;
}
.co-input-field input {
    font-size: 12px;
    text-align: center;
    color: #000;
    padding: 4px 0 4px !important;
}
.co-timetable-left-subform-section .MuiGrid-item, .co-timetable-right-between-section .MuiGrid-item, .co-timetable-right-subform-section .MuiGrid-item{
    padding: 0px 10px 0 10px;
}
.co-cuenta-input-field-section{
    padding: 0px !important;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
}
.co-timetable-right-bottom-field-section .co-cuenta-input-field-section{
    padding: 0px !important;
    margin-bottom: 15px;
    border: 1px solid #009122;
}
.co-variacion-text {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: right;
}
.co-timetable-right-head-text{
    text-align: right;
}
.co-total-hours-text {
    font-size: 12px;
    text-align: right;
    font-weight: 600;
    color: #009122;
    margin-top: 25px;
}
.co-timetable-right-bottom-field-section {
    padding: 0px 10px 0 10px;
}
#co-agregar-top-btn {
    background-color: #5A8DEE !important;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 20px 2px 20px;
    width: 100% !important;
}
.co-agregar-top-btn-section{
    padding-top: 64px;
    width: 100%;
}
#co-agregar-bottom-btn {
    background-color: transparent !important;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 20px 0px 20px;
    width: 100% !important;
    margin-top: 17px;
    border: 1px solid #D0021B;
    color: #D0021B;
}
.co-agregar-left-bottom-btn-section {
    padding: 0 10px 0 10px;
}
#co-agregar-left-bottom-btn {
    background-color: #5A8DEE !important;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 20px 2px 20px;
    width: 100% !important;
}
.co-table-total-hours-text {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #009122;
    font-size: 12px;
    text-align: right;
}
.co-start-end-time-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
    text-align: center;
    color: #121D39;
}
/***************bottom form section*********/
.co-popup-head-text-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
}
.co-sub-header-section {
    display: flex;
}
.co-cuenta-confirm-popup-left-section {
    padding-right: 65px;
}
.co-cuenta-confirm-popup-right-section {
    padding-left: 70px;
}
.co-profile-img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}
.co-profile-text {
    font-size: 14px;
    padding-left: 10px;
    color: #565A6E;
}
.co-horas-asignadas {
    font-size: 12px;
    color: #565A6E;
}
#itemquantity {
    border: 2px solid #5A8DEE;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 4px;
    padding: 3px;
    width: 50px;
}
#itemquantity_new1 {
    border: 2px solid #00CFDD;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 3px;
    width: 50px;
}
#itemquantity_new2 {
    border: 2px solid #39DA8A;
    border-radius: 4px;
    margin-left: 5px;
    padding: 3px;
    width: 50px;
}
/*********bottom form section end*********/





/*************timetable css*******************/
.block-events.e-schedule .template-wrap {
    width: 100%;
}

.block-events.e-schedule .e-vertical-view .e-resource-cells {
    height: 58px;
}

.block-events.e-schedule .e-timeline-view .e-resource-left-td,
.block-events.e-schedule .e-timeline-month-view .e-resource-left-td {
    width: 170px;
}

.block-events.e-schedule .e-resource-cells.e-child-node .employee-category,
.block-events.e-schedule .e-resource-cells.e-child-node .employee-name {
    padding: 5px
}

.block-events.e-schedule .employee-image {
    width: 45px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 45px;
}

.block-events.e-schedule .employee-name {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.block-events.e-schedule .employee-designation {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.block-events.e-schedule .template-wrap .employee-image.alice {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/alice.png');
}

.block-events.e-schedule .template-wrap .employee-image.robert {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robert.png');
}

.block-events.e-schedule .template-wrap .employee-image.robson {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/robson.png');
}

.block-events.e-schedule .template-wrap .employee-image.laura {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/laura.png');
}

.block-events.e-schedule .template-wrap .employee-image.nancy {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/nancy.png');
}

.block-events.e-schedule .template-wrap .employee-image.margaret {
    background-image: url('https://ej2.syncfusion.com/react/demos/src/schedule/images/margaret.png');
}