.grid-container-topbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.grid-item-topbar-left {
  flex: 3;
}

.grid-item-topbar-right {
  flex: 1;
  align-items: center;
}

.icon-topbar-flash-container {
  font-size: 14px;
  display: inline;
}
.icon-topbar-flash {
  color: #FAC56F;
}

.users-right-topbar-text {
  font-size: 16px;
  display: inline;
}
.users-right-topbar-text span {
  font-size: 12px;
  font-weight: bold;
}

.btn-topbar-plan-container {
  display: inline;
  font-size: 14px;
  margin-left: 30px;
}



/* TODO: FIND A BETTER SOLUTION THAN !IMPORTANT */
.btn-topbar-plan {
  border: 1px solid #5A8DEE !important;
  width: unset !important;
  height: unset !important;
  padding: 0px 6px !important;
}