.ud-side-top-head, .ud-right-content-top-head {
    text-align: center;
}
.ud-error-text {
    vertical-align: middle;
    padding-top: 135px;
    text-align: center;
    font-size: 16px !important;
    font-weight: bold;
    color: #121D39;
    padding-left: 50px;
    padding-right: 50px;
}
.ud-sidebar-section {
    padding: 20px;
}
.ud-right-content-section{
    margin-left: 0px;
}
.ud-side-top-head{
    font-size: 16px;
    color: #121D39;
}
.ud-right-content-top-head {
    font-size: 25px;
    color: #121D39;
    padding-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}
.ud-right-sub-text {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    color: #121D39;
}
.ud-right-bottom-text {
    font-size: 21px;
    color: #121D39;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0px;
}
.ud-right-bottom-section{
    position: absolute;
    bottom: 90px;
    text-align: center;
}