.add-persona-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
}

.add-persona-info-picture-container {
  flex: 1;
  align-items: center;
}

.add-persona-info-form-container {
  flex: 5;
  color: #9498A9;
}

.add-persona-info-picture-item {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #DADDE5;
  text-align: center;
}

.add-persona-info-picture-icon {
  color: #9498A9;
  padding-top: 47px;
}

.add-persona-info-form-grid {
  display: flex;
  flex-direction: column;
}


.form-input-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0;
}
   

.add-persona-info-observaciones {
  width: unset !important;
}