.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; 
}
.mi-cuenta-main-heading-section{
    margin-left: 145px;
    margin-top: 115px;
}
.mi-cuenta-main-sidebar-section{
	margin-left: 145px;
	margin-top: 0px;
}
.mi-cuenta-main-content-section {
    border: 2px solid #ccc;
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 20px;
    border-radius: 5px;
    padding-right: 20px;
}
.mi-cuenta-user-img-section{
	text-align: center;
}
.mi-cuenta-user-img-section img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}
.mi-cuenta-sidebar-section {
    border: 2px solid #ccc;
    padding: 75px 25px 75px 25px;
    border-radius: 5px;
}
.mi-cuenta-user-profile-name {
    text-align: center;
    color: #121D39;
    font-size: 16px;
}
.mi-cuenta-user-role {
    text-align: center;
    color: #565A6E;
    font-size: 14px;
    margin-top: 0px;
}
.mi-cuenta-user-desc {
    text-align: center;
    font-size: 12px;
    color: #565A6E;
}
.mi-cuenta-user-type-text a {
    color: #4674D0;
    text-decoration: none;
    background: #DEEEFF;
    padding: 0px 5px 2px 5px;
    border-radius: 12px;
}
.mi-cuenta-contact-icons .MuiSvgIcon-root {
    vertical-align: middle;
    color: #9498A9;
    font-size: 20px;
}
.mi-cuenta-contact-icons {
    padding-right: 10px;
}
.mi-cuenta-contact-info-section {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    border-top: 1px solid #ccc;
    padding-top: 35px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.mi-cuenta-contact-info-section li {
    font-size: 14px;
    color: #9498A9;
    padding-bottom: 25px;
}
.mi-cuenta-before-text {
    padding-top: 25px;
    text-align: center;
    font-size: 12px;
    color: #9498A9;
}
.mi-cuenta-plan-basico-btn-sec {
    text-align: center;
}
.mi-cuenta-plan-basico-btn-sec .MuiButton-containedSizeLarge {
    padding: 8px 22px;
    font-size: 0.9375rem;
    background-color: #5A8DEE !important;
}
.mi-cuenta-tab-header-section{
    width: calc(100% - 0px) !important;
    background-color: #fff !important;
    border-bottom-width: 0px !important;
}
.mi-cuenta-tab-header-section .MuiButtonBase-root{
    min-width: 128px !important;
}
.mi-cuenta-tab-header-section .MuiButtonBase-root .MuiTab-wrapper{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.mi-cuenta-tab-header-section .MuiTabs-indicator{
    width: 128px !important;
    background-color: #FAC56F;
}
.mi-cuenta-input-field-section .MuiInput-underline:before, .mi-cuenta-input-field-section .MuiInput-underline:after, .mi-cuenta-suscripcion-input-field-section .MuiInput-underline:before, .mi-cuenta-suscripcion-input-field-section .MuiInput-underline:after{
    content: none;
}
.mi-cuenta-input-field-section, .mi-cuenta-suscripcion-input-field-section {
    padding: 5px 10px 5px 10px;
    width: auto;
}
.mi-cuenta-cambiar-btn {
    background-color: #F0F3F8 !important;
    border: 2px solid #DADDE5 !important;
    height: 46px !important;
    width: 105px !important;
}
.mi-cuenta-red-border-btn .MuiButton-label {
    color: #ED2651;
    font-size: 16px;
}
.mi-cuenta-red-border-btn {
    border: 2px solid #ED2651 !important;
    padding: 5px 20px 5px 20px !important;
}
.mi-cuenta-submit-btn-section, .mi-cuenta-password-field-btn-section, .mi-cuenta-datosdeuso-section {
    display: flex;
}
.mi-cuenta-password-btn-section{
    padding-left: 40px;
    padding-top: 25px;
}
.mi-cuenta-right-btn-section  {
    padding-left: 40px;
}
.mi-cuenta-cambiar-btn .MuiButton-label {
    color: #9498A9;
    font-size: 16px !important;
}
.mi-cuenta-blue-color-btn {
    background-color: #5A8DEE !important;
    color: #fff !important;
    padding: 8px 28px 8px 28px !important;
}
.mi-cuenta-blue-color-btn .MuiButton-label {
    font-size: 16px;
}
.mi-cuenta-blue-color-btn:hover {
    background-color: #5A8DEE;
}
.mi-cuenta-submit-btn-section {
    padding-bottom: 50px;
    padding-top: 50px;
}
.mi-cuenta-input-field-label-section {
    font-size: 14px !important;
    padding-bottom: 10px !important;
    color: #9498A9 !important;
}
.mi-cuenta-suscripcion-input-field-label-section {
    font-size: 14px !important;
    padding-bottom: 10px !important;
    color: #9498A9 !important;
    text-align: center;
}
.mi-cuenta-datosdeuso-head-text {
    font-size: 18px;
    color: #121D39;
    line-height: 23px;
    margin-bottom: 8px;
}
.mi-cuenta-datosdeuso-subhead-text, .mi-cuenta-suscripcion-subhead-text {
    font-size: 14px;
    color: #565A6E;
    margin-top: 0px !important;
}
.mi-cuenta-suscripcion-head-text{
    font-size: 16px;
    color: #121D39;
    line-height: 23px;
    margin-bottom: 8px;
}
.mi-cuenta-suscripcion-section, .mi-cuenta-facturacion-section, .mi-cuenta-recibos-section {
    padding-left: 40px;
    padding-right: 40px;
}
.mi-cuenta-subscription-form-field-sec, .mi-cuenta-suscripcion-main-form-section {
    display: flex;
}
.mi-cuenta-suscripcion-espacios-field-sec .mi-cuenta-input-field-section{
    width: 50%;
}
.mi-cuenta-suscripcion-periocidad-field-sec {
    margin-right: 25px !important;
}
.mi-cuenta-suscripcion-montoestimado-field-sec {
    margin-left: 25px !important;
}
.mi-cuenta-input-field-section .MuiInput-underline {
    width: 100%;
}
.mi-cuenta-suscripcion-last-inputs-field-sec {
    display: flex;
}
.mi-cuenta-suscripcion-main-input-field-section {
    padding: 25px 0px 10px 30px;
    width: auto;
}
.mi-cuenta-suscripcion-input input {
    height: 85px;
    text-align: center;
}
.mi-cuenta-suscripcion-last-inputs-field-sec .MuiGrid-item{
    padding-right: 30px;
}
.mi-cuenta-suscripcion-id-input-field-label-section {
    font-size: 16px !important;
    color: #121D39 !important;
}
.mi-cuenta-suscripcion-id-input input {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #DADDE5;
}
.mi-cuenta-suscripcion-last-inputs-field-sec {
    padding-top: 5px;
}
.mi-cuenta-tab-header-section .Mui-selected .MuiTab-wrapper{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: #121D39;
}
.mi-cuenta-suscripcion-aumentar-btn-section {
    margin-left: 50px !important;
    padding-top: 25px !important;
}
.mi-cuenta-suscripcion-aumentar-btn {
    background: #5A8DEE !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 8px 20px 8px 20px !important;
}
.mi-cuenta-suscripcion-aumentar-btn:hover{
    background: #5A8DEE !important;
}
.mi-cuenta-suscripcion-cancelar-btn {
    background: #F0F3F8 !important;
    color: #9498A9 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    padding: 8px 20px 8px 20px !important;
    border: 2px solid #DADDE5 !important;
}
.mi-cuenta-facturacion-subhead-text {
    font-size: 12px;
    color: #4674D0;
}
.mi-cuenta-facturacio-form-first-section, .mi-cuenta-facturacion-card-field-input-main-section, .mi-cuenta-facturacion-card-field-input-sub-section, .mi-cuenta-facturacion-section, .mi-cuenta-facturacion-itemdetails-section {
    display: flex;
}
.mi-cuenta-facturacio-form-right-section {
    padding-left: 40px;
}
.mi-cuenta-facturacion-card-right-field-input-section {
    padding-left: 20px;
}
.mi-cuenta-facturacion-card-left-field-input-section {
    padding-right: 20px;
}

.mi-cuenta-facturacion-right-side-main-section {
    background-color: #ECF2FF;
    padding: 15px;
}
.mi-cuenta-facturacion-right-side-head-text {
    font-size: 12px;
    color: #4674D0;
    float: left;
}
.mi-cuenta-facturacion-close-button-section {
    text-align: right;
    padding-bottom: 20px;
}
.mi-cuenta-facturacion-right-side-section {
    padding-left: 50px;
    padding-top: 50px;
}
.mi-cuenta-facturacion-right-side-item-text {
    font-size: 12px;
    line-height: 15px;
    color: #121D39;
}
.mi-cuenta-facturacion-close-button {
    padding: 0px 0px 0px 44px !important;
    max-width: 0px !important;
}
.mi-cuenta-facturacion-close-button:hover {
    background-color: transparent !important;
}
.mi-cuenta-facturacion-quantity-field-input {
    padding-top: 15px;
    text-align: right;
}
.mi-cuenta-facturacion-itemdetails-section {
    border-bottom: 1px solid #5A8DEE;
    padding-bottom: 15px;
}
.mi-cuenta-facturacion-subtotal-section{
    padding-left: 0px;
    list-style: none;
    font-size: 12px;
    padding-top: 20px;
}
.mi-cuenta-confirm-popup-card-details-section{
    padding-left: 0px;
    list-style: none;
    font-size: 12px;
    margin-top: 0px !important;
}
.mi-cuenta-confirm-popup-card-details-section, .mi-cuenta-facturacion-right-side-subtotal-text{
    color: #9498A9;
}
.mi-cuenta-facturacion-right-side-amount-text{
    float: right;
    margin: 0;
    font-size: 12px;
}
.mi-cuenta-facturacion-right-side-subtotal-text {
    padding-bottom: 15px;
}
.mi-cuenta-facturacion-confirmar-compra-button{
    width: 100% !important;
    background-color: #5A8DEE !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.mi-cuenta-facturacion-confirmar-compra-button-section {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.MuiTableCell-head{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #121D39 !important;
}
.MuiTableCell-body svg {
    font-size: 18px;
    padding: 8px;
    color: #9498A9;
}
.MuiTableCell-body {
    color: #565A6E;
}
.mi-cuenta-datos-first-blue-piechart{
    color: #5D90EF !important;
    border: 1px solid #ccc;
    border-radius: 80px;
}
.mi-cuenta-datos-second-lightgreen-piechart{
    color: #08cfdd !important;
    border: 1px solid #ccc;
    border-radius: 80px;
}
.mi-cuenta-datos-percentage-text {
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 18px;
    color: #565A6E;
}
.mi-cuenta-datos-percentage-title-text {
    padding-left: 20px;
    color: #565A6E;
    font-size: 14px;
}
.mi-cuenta-datos-right-side-section, .mi-cuenta-datosdeuso-piechart-field-section {
    display: flex;
}
.mi-cuenta-datos-right-side-section {
    padding-top: 50px;
}
.mi-cuenta-datos-right-side-field-section .mi-cuenta-input-field-section {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.mi-cuenta-datos-left-side-field-section .mi-cuenta-input-field-section {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mi-cuenta-datos-left-side-field-section .mi-cuenta-input-field-label-section, .mi-cuenta-datos-right-side-field-section .mi-cuenta-input-field-label-section{
    text-align: center;
}
.mi-cuenta-datos-question-link-section {
    text-align: right;
}
.mi-cuenta-datos-question-link{
    font-size: 14px;
    color: #4674D0;
}
#mi-cuenta-facturacion-quantity-input-field-label-section {
    font-size: 10px !important;
    padding-bottom: 0px !important;
}
.mi-cuenta-card-number-text {
    font-size: 14px;
    color: #121D39;
    margin-bottom: 5px;
}
.mi-cuenta-confirm-popup-section, .mi-cuenta-confirm-popup-information-detail-section{
    display: flex;
}
.mi-cuenta-confirm-popup-card-person-address {
    font-size: 12px;
    color: #9498A9;
    margin-top: 0px;
}
.mi-cuenta-confirm-popup-left-sec {
    padding-right: 73px;
}
.mi-cuenta-confirm-popup-left-sec-right-id-head {
    font-size: 12px;
    color: #565A6E;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mi-cuenta-confirm-popup-section{
    padding: 80px 130px 50px 130px;
}
.mi-cuenta-confirm-popup-left-section {
    padding-right: 65px;
}
.mi-cuenta-confirm-popup-right-section {
    padding-left: 50px;
}
.mi-cuenta-confirm-popup-right-sec {
    padding-left: 60px;
}
.mi-cuenta-confirm-popup-card-details-section{
    padding-right: 60px;
}
.mi-cuenta-confirm-popup-iratras-btn-text {
    text-align: center;
    font-size: 14px;
    color: #9498A9;
}
.mi-cuenta-confirm-popup-bottom-btn-section {
    display: flex;
    padding: 20px 130px 130px 130px;
}
.mi-cuenta-confirm-popup-compra-button{
    background-color: #5A8DEE !important;
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.mi-cuenta-confim-popup-save-message {
    padding: 25px 50px 0px 50px;
    font-size: 18px;
}
.mi-cuenta-confirm-popup-compra-sub-text {
    font-size: 14px;
    padding-bottom: 50px;
    color: #9498A9;
}
#confirm-agregar-btn {
    background-color: #5A8DEE !important;
    font-size: 16px;
    font-weight: bold;
}