.addpersona-container{
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
}
.addpersona-container-izq {
  flex: 9;
  padding-top: 30px;
}

.pila-atencion {
  flex: 3;
  background-color: #F9FBFE;
  margin-left: 50px;
  color: #5A8DEE;
}

.row-divider {
  flex: 1;
  width: 100px;
}

.pila-atencion h5{
  height: 100vh;
  padding-top: 100px;
  padding-left: 50px;
}

.multistep-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  margin-right: 50px;
  padding-bottom: 30px;
  color: #9498A9;
  border-bottom: 1px solid #9498A9;
}

.info-personal-multistep-header {
  padding-left: 30px;
}

.seguridad-multistep-header {
  padding-right: 30px;
}
