.drawer {
  text-align: center;
}

.navbar-icon {
  color: inherit;
  padding-left: 18px; 
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-container-navbar {
  display: flex;
}

.grid-item-navbar-general {
  flex: 3
}

.grid-item-navbar-settings {
  flex: 1
}
