.lg-logo-section {
    background-color: #1a73e8;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}
.lg-logo-img {
    width: 185px;
}
.lg-main-head {
    text-align: center;
}
.lg-main-content-section {
    border: 1px solid #eee;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lg-login-form {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 70px;
}
.lg-link-section{
    display: flex;
}
.lg-link-register p {
    font-size: 14px;
    font-weight: 900;
    color: #1a73e8;
    margin-top: 3px;
}
.lg-link-register {
    text-decoration: none;
}
.MuiCheckbox-colorPrimary.Mui-checked, .MuiCheckbox-colorPrimary{
    padding-right: 5px !important; 
}
.lg-right-link-section{
    color: #9498a9;
    padding-left: 18px;
    font-size: 14px;
    font-weight: bold;
}
.lg-right-btn-section{
    color: #9498a9;
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
}
.lg-button-section{
    display: flex;
    margin-top: 35px; 
}
.lg-left-btn-section button {
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #9498a9;
    padding: 5px 0px 0px 0px;
    text-align: left;
}
.lg-left-btn-section button {
    background: transparent !important;
}
.lg-right-btn-section button {
    background: #5a8dee;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 25px 8px 25px;
    text-align: right;
}
.lg-right-btn-section button:hover {
    background: #5a8dee;
}
.lg-footer-section{
    margin-top: 0px;
    padding-top: 0px;
}
.lg-footer-menu-section {
    padding-left: 0px;
    text-align: right;
    list-style: none;
    margin-top: 0px;
}
.lg-footer-menu-section li {
    display: inline-block;
    padding: 0 10px 0 10px;
}
.lg-footer-menu-section li:last-child {
    padding-right: 0px;
}
.lg-footer-menu-section li .lg-footer-menu-link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    margin-top: 0px;
}
.help.is-danger {
    color: #D93025;
    margin: 0px;
    font-size: 13px;
}
.MuiInput-input{
    border-color: #ff3860;
}
.MuiInput-underline.input.is-danger{
    margin-left: 0px;
}
.help.is-danger::before {
    display: inline;
    /* content: "⚠ "; */
    content: "!";
    background-color: #D93025;
    padding: 0px 6px 0px 6px;
    border-radius: 10px;
    color: #fff;
    margin-right: 3px;
}
.lg-login-form .input {
    margin-left: 0px;
}
.MuiInput-underline:after .MuiInputAdornment-root svg{
    color: #5A8DEE;
}