.container {
  height: 100vh;
}

.register-container-botones {
  padding-top: 70px;
}

.panel-derecha {
  background-color: #DADDE5;
  height: 100%;
}

.titulo h1 {
  font-size: 48px;
  margin-top: 189px;
}

.sin-cuenta {
  font-size: 18px;
}

.form-container {
  width: 312px;
  padding-top: 40px;
}

.TextField {
  width: 100%;
}

.container-debajo-inputs {
  padding-top: 40px;
}

.link-login-con-cuenta p {
  color: black;
}

.register-login-btn {
  text-decoration: none;
  color: #9498A9;
}