/*.et-popup-head {
    text-align: center;
    padding-left: 75px;
}*/
.modal {
    display: flex;
    align-items: inherit;
    justify-content: center;
}
.et-popup-head {
    font-size: 18px;
    font-weight: 500;
    color: #121D39;
    margin-bottom: 0px;
}
.et-popup-header-sub-text {
    margin-top: 0px;
    font-size: 12px;
    color: #000000;
}
.et-popup-header-section {
    padding: 10px 30px 0 75px;
    display: flex;
}
.mi-cuenta-confirm-popup-section {
    padding: 0px 80px 56px 80px;
    width: 707px;
}
.mi-cuenta-confirm-popup-left-section {
    padding-right: 0px;
}
.et-horas-asignadas {
    font-size: 12px;
    color: #565A6E;
}
#itemquantity {
    border: 2px solid #5A8DEE;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 4px;
}
#itemquantity_new {
    border: 2px solid #39DA8A;
    border-radius: 4px;
    margin-left: 5px;
}
.mi-cuenta-confirm-popup-right-section {
    padding-left: 23px;
}
.et-cuenta-input-field-section, .mi-cuenta-suscripcion-input-field-section {
    padding: 0px 10px 0px 10px;
    width: auto !important;
}
.et-cuenta-input-field-section .MuiInput-underline:before, .et-cuenta-input-field-section .MuiInput-underline:after{
    content: none;
}
.et-cuenta-input-field-section .MuiInput-underline{
    width: 100%;
}
.et-user-start-time {
    padding: 0px 0px 0px 15px;
}
.et-user-end-time {
    padding: 0px 15px 0px 0px;
}
.input-field-section {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    margin-bottom: 10px;
    margin-top: 3px;
}
.et-extra-text {
    text-align: center;
    margin-top: 10px;
}






#et-close-save-popup-btn {
  color: #4674D0;
  font-size: 20px;
}
.et-save-popup-close-section{
  text-align: right;
}
#et-popupinformaciónpersonal{
  height: 400px;
  overflow-y: auto;
  display: inherit;
  padding-top: 15px;
  margin-bottom: 75px;
}
.et-profile-img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}
.et-popup-left-form-section {
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 10px;
}
.et-profile-text {
    font-size: 14px;
    padding-left: 10px;
    color: #565A6E;
}
.et-sub-header-section {
    display: flex;
}
.et-popup-head-text-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.et-table-section {
    display: flex;
}
.et-days_name {
    font-size: 14px;
    text-align: right;
    color: #565A6E;
    font-weight: bold;
}
.mi-cuenta-input-field-section .MuiInput-underline:before, .mi-cuenta-input-field-section .MuiInput-underline:after, .mi-cuenta-suscripcion-input-field-section .MuiInput-underline:before, .mi-cuenta-suscripcion-input-field-section .MuiInput-underline:after{
    content: none;
}
