.MuiTextField-root, .MuiFormControl-root{
    width: 100%;
    margin-left: 0px !important;
}
.MuiIconButton-root{
    /*color: #000 !important;*/
    padding: 0px !important;
}
.rg-logo-section {
    background-color: #1a73e8;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-left: 50px;
    margin-bottom: 50px;
}
.rg-logo-img {
    width: 185px;
}
.rg-main-content-section {
    border: 1px solid #eee;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rg-form-section {
    padding-left: 57px;
}
.rg-button-section{
    display: flex;
    margin-top: 35px; 
}
.rg-left-btn-section button {
    background: transparent;
    font-size: 14px;
    font-weight: 700;
    color: #1a73e8;
}
.rg-left-btn-section button {
    background: transparent !important;
}
.rg-right-btn-section button {
    background: #1a73e8;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 40px 8px 40px;
}
.rg-right-btn-section button:hover {
    background: #1a73e8;
}
.rg-left-btn-section, .rg-right-btn-section{
    text-align: center;
}
.rg-footer-section{
    margin-top: 0px;
    padding-top: 0px;
}
.rg-footer-menu-section {
    padding-left: 0px;
    text-align: right;
    list-style: none;
    margin-top: 0px;
}
.rg-footer-menu-section li {
    display: inline-block;
    padding: 0 10px 0 10px;
}
.rg-footer-menu-section li:last-child {
    padding-right: 0px;
}
.rg-footer-menu-section li .rg-footer-menu-link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
    margin-top: 0px;
}
.rg-form-sub-section {
    display: flex;
}
.rg-image-section {
    text-align: center;
    padding-top: 85px;
}
.rg-right-text{
    text-align: center;
    padding: 0px 85px 0px 85px;
    font-size: 18px;
    color: #0f0f0f;
    font-weight: 600;
    line-height: 25px;
}
.help.is-danger::before {
    display: inline;
    /* content: "⚠ "; */
    content: "!";
    background-color: #D93025;
    padding: 0px 6px 0px 6px;
    border-radius: 10px;
    color: #fff;
    margin-right: 3px;
}
.help.is-danger {
    color: #D93025;
    margin: 0px;
    font-size: 13px;
}