.container {
  height: 100vh;
}

.container-botones {
  padding-top: 60px;
}

.panel-derecha {
  background-color: #DADDE5;
  height: 100%;
}

.titulo h1 {
  font-size: 48px;
  margin-top: 189px;
}

.sin-cuenta {
  font-size: 18px;
}

.form-container {
  width: 312px;
  padding-top: 40px;
}

.TextField {
  width: 100%;
}

.texto-debajo-inputs-der {
  display: inline-block;
  text-align: right;
}
 

.texto-debajo-inputs-izq {
  display: inline-block;
  text-align: left;
}


.texto-debajo-inputs {
  color: #9498A9;
  font-size: 12px !important;
  text-align: right;
  text-decoration: none;
}

.container-debajo-inputs {
  padding-top: 40px;
}

.link-register-sin-cuenta p {
  color: black;
}

.login-register-btn {
  text-decoration: none;
  color: #9498A9;
}