.container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap; 
}
.input{
  margin-left: 8px;
  flex: 1;
}
.root{
  width: 100%;
  height: 200;
  max-width: 360; 
  background-color: #fff;
}
.user-list-root{
  width: 100%;
  height: 200px;
  max-width: 360px; 
  background-color: #fff;
}
.roottable{
  width: 100%;
  height: 172px;
  max-width: 100%;
  background-color: #fff;
}
.inline{
  display: inline;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.paper{
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);
}
.iconButton{
  padding: 5px !important;
  float: right;
}
.component-main-heading{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 30px;
}
.component-sub-heading {
  margin-top: 5px;
}
.Buscar-field .MuiInput-formControl input{
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Buscar-field .MuiInput-underline:before, .Buscar-field .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}
.Buscar-field .MuiInputLabel-animated{
  transition: none;
}
.Buscar-field .MuiInputLabel-formControl{
  padding-left: 10px;
}
.search-section {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 40px;
}
.MuiListItemText-primary {
  color: #565A6E;
}
.MuiListItemText-secondary {
  color: #39DA8A !important;
}
.inactive-user .MuiListItemText-secondary {
  color: #9498A9 !important;
}
.MuiList-root{
  overflow-y: auto; 
}
.MuiListItem-root.Mui-selected {
  border-right: none !important;
}
.MuiSelect-selectMenu{
  font-size: 13px;
  text-align: center;
}
.MuiInputLabel-outlined{
  font-size: 13px !important;
  text-align: center;
  padding: 3px !important;
  /*transform: translate(14px, 20px) scale(1) !important;*/
}
.makeStyles-formControl-187 {
  background: #cdd0de52;
  border-radius: 20px;
}
.MuiOutlinedInput-notchedOutline {
  padding-left: 8px;
  font-size: 12px !important;
  border: none !important;
}
.MuiSelect-outlined {
  padding: 5px !important; 
}
.icon_section {
  width: 195px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
}
.icon_section .MuiSvgIcon-root{
  padding: 8px 20px;
  color: #707070;
  border-right: 1px solid #eee;
  cursor: pointer;
}
.add-persona-info-picture-item {
    /*margin-top: 25px;*/
    margin-bottom: 25px;
}
.MuiButton-label{
  width: auto !important;
}
.MuiButton-contained{
  background-color: transparent !important;
  box-shadow: none !important;
}
.dropdown-select-profile{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
}
.MuiButton-root {
  height: auto !important;
  width: auto !important;
}
.add-persona-info-picture-item-main-section{
  width: 100%;
  text-align: center;
}
.makeStyles-textField-190 {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}
.input-field-section{
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 7px;
  margin-bottom: 30px;
}
.right-register-date-section .input-field-section{
  margin-bottom: 60px;
}
.input-field-section .MuiTextField-root{
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*.heading-section {
    width: 100%;
}*/
.left-form-section{
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}
.popup-left-form-section{
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 0px;
  padding-right: 20px;
}
.right-form-section {
    margin-right: 10px;
    /*padding-right: 20px;*/
    margin-left: 30px;
    padding-top: 8px;
    margin-top: 0px;
}
#educación-experiencia .right-form-section {
    margin-right: 10px;
    /*padding-right: 20px;*/
    margin-left: 30px;
    padding-top: 8px;
    margin-top: 0px;
    padding-top: 0px;
}
.popup-right-form-section {
    margin-right: 0px;
    /*padding-right: 20px;*/
    margin-left: 30px;
    padding-top: 8px;
    margin-top: 0px;
}
.half-input-section {
    display: flex;
    /*margin-top: 49px !important;*/
    margin-bottom: 40px !important;
}
.right-register-date-section {
    margin-right: 15px !important;
}
.right-register-date-section .input-field-section .MuiTextField-root .MuiInputAdornment-positionEnd button, .right-indica-labores-section .input-field-section .MuiTextField-root .MuiInputAdornment-positionEnd button{
  padding: 0px;
}
.estado-civil-section {
    width: 100%;
}
.estado-civil-section .MuiOutlinedInput-root{
  padding: 14px;
}
.radio-button-section {
  margin-top: 0px;
  display: flex;
  padding-top: 0px;
}
.popup-radio-button-section {
  margin-top: 0px;
  display: flex;
  padding-top: 0px;
  margin-left: 0px;
  padding-right: 20px;
}
.observaciones-section {
  margin-top: 0px;
  /*margin-right: 35px;
  padding-right: 20px;*/
  margin-bottom: 20px;
}
.educación-experiencia-observaciones-section {
  margin-top: 0px;
  /*margin-right: 35px;
  padding-right: 20px;*/
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
}
.popup-observaciones-section {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-right: 20px;
}
.observaciones-section .form-input-row-container{
  border: 2px solid #ccc;
  border-radius: 5px;
}
.educación-experiencia-observaciones-section .form-input-row-container{
  border: 2px solid #ccc;
  border-radius: 5px;
}
.popup-observaciones-section .form-input-row-container{
  border: 2px solid #ccc;
  border-radius: 5px;
}
.chat-name-heading{
  color: #4674D0;
}
.chat-section{
  margin-right: 35px;
  padding-right: 20px;
  margin-left: 20px;
}
.chat-section .MuiList-padding{
  box-shadow: 0 0 18px #ccc;
  padding: 0px;
  height:auto;
}
.chat-section .MuiList-padding .MuiListItem-gutters.Mui-selected{
  padding: 5px 5px 5px 15px;
  background-color: none !important;
}
.chat-section .MuiListItem-root.Mui-selected:hover{
  background-color: none !important;
}
.chat-dated-section {
    text-align: center;
    padding-top: 20px;
}
.chat-dated {
    background-color: #DEEEFF;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    color: #4674D0;
}
.chat-message {
    list-style: none;
    padding-left: 0px;
}
.odd-chat {
    float: left;
    padding: 0 10px 0px 10px;
    background-color: #F0F3F8;
    margin-bottom: 20px;
    width: 75%;
}
.user-name {
    margin: 10px 0 0 0;
    font-size: 12px;
    color: #4674D0;
}
.user-message {
    margin-top: 5px;
    font-size: 14px;
    color: #121D39;
}
.even-chat {
    background-color: #ECF2FF;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 0 10px 0px 10px;
    float: right;
    width: 75%;
}
.emoji-img{
    font-size: 24px;
    padding: 15px 30px 15px 30px;
    color: #FFCF4A;
    float: right;
}
.two-field-section{
    display: flex;
    margin-bottom: 70px;
}
/*.left-side-field-section {
    margin-right: 30px !important;
}*/
.right-field-section {
    padding-top: 10px;
}
#informaciónpersonal{
  height: 600px;
  overflow-y: auto;
}
#popupinformaciónpersonal{
  height: 600px;
  overflow-y: auto;
  display: inherit;
  padding-top: 15px;
  margin-bottom: 75px;
}
#contacto{
  height: 500px;
  overflow-y: auto;
  width: 100%;
  /*display: none;*/
}
#educación-experiencia{
  height: 600px;
  overflow-y: auto;
  /*display: none;*/
  width: 100%;
}
#detalles-de-pago{
  height: 350px;
  overflow-y: auto;
  /*display: none;*/
  width: 100%;
}
#seguridad{
  height: 600px;
  overflow-y: auto;
  /*display: none;*/
  width: 100%;
}
#contacto .right-form-section{
  padding-top: 0px;
}
#agregar-btn {
  background-color: #5A8DEE !important;
}
.agregar-btn-section {
  text-align: center;
  position: absolute;
  top: 100%;
  left: 12%;
}
.image-save-section img {
  width: 150px;
  height: 150px;
}
.save-message {
  padding: 25px 50px 25px 50px;
  font-size: 18px;
}
.popup-content-section {
  padding: 35px 80px 35px 80px;
  text-align: center;
}
#close-save-popup-btn {
  color: #4674D0;
  font-size: 20px;
}
.save-popup-close-section{
  text-align: right;
}
.close-popup-question-head {
    font-size: 18px;
    text-align: center;
}
.close-sub-message{
  font-size: 14px;
  color: #737373;
  padding-bottom: 50px;
}
.close-popup-button-section {
  display: flex;
  text-align: center;
}
.close-popup-content-section {
    padding: 60px 135px 90px 135px;
}
#close-popup-left-btn {
    border: 2px solid #ccc;
    color: #ccc;
}
#close-popup-right-btn {
    background: #F6495A !important;
}
.left-first-head-text {
    color: #565A6E;
    font-size: 14px;
}
.left-first-field-section{
  display: flex;
}
.detalles-de-pago-left-field-section{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.detalles-de-pago-right-field-section{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 70%;
}
.acceso-para-head-section {
    margin-top: 0px;
    padding-top: 0px;
}
#enviar-btn {
    background: #F0F3F8 !important;
    height: 58px !important;
    border: 1px solid #DADDE5;
    color: #9498A9;
    width: 160px !important;
}
.usuario-text-field-section{
  margin-right: 95px !important;
}
.right-left-date-sec .MuiOutlinedInput-root, .right-right-date-sec .MuiOutlinedInput-root {
    width: auto;
}
.MuiOutlinedInput-root{
  width: 100% !important;
}
.MuiSelect-outlined:focus{
      background-color: rgba(0, 0, 0, 0);
}
.emoji-icon-section {
    margin-top: 0px;
}
.typing-text {
    text-align: right;
    font-size: 12px;
    color: #9498A9;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}
.typing-text span {
    font-size: 24px;
    color: #5A8DEE;
}
.chat-box-section {
    float: left;
    width: 100%;
    position: relative;
    top: 150px;
    bottom: 0px;
    padding-bottom: 30px;
}
#chatinput {
    padding: 10px 0 0 20px;
    width: 70%;
    border: none;
}
.chat-box-section svg {
    vertical-align: middle;
    padding: 0 5px 0 5px;
}
.attachment-icon {
    color: #9498A9;
}
.nearme-icon {
    color: #5A8DEE;
}
#chatinput:focus {
    border: none;
    outline: none;
}
.popup-head {
    text-align: center;
    padding-left: 75px;
}
.popup-header-section {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
#agregar-nueva-popup-left-btn {
    color: #fff;
    margin-right: 20px;
    background-color: #5A8DEE !important;
}
#agregar-nueva-popup-right-btn {
    background: none;
    border: 2px solid #9498A9;
    color: #9498A9;
}
.agregar-nueva-popup-button-section {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}
.otros-estudios-text-section {
    padding-top: 0px;
    padding-bottom: 0px;
}
.otros-estudios-text-section .MuiGrid-item{
    width: 100%;
}
.prev-text {
    font-size: 14px;
    color: #565A6E;
    padding-right: 5px;
}
.arrow-icon {
    color: #565A6E;
    font-size: 13px;
}
.dropdown-select-profile .textField{
    width: 100%;
}
.MuiSelect-select:focus{
    background-color: rgba(0, 0, 0, 0) !important;
}
.show-more-btn-sec {
    text-align: center;
    padding-top: 20px;
}
.show-more-btn-sec button:focus {
    outline: none;
}
.show-more-btn-sec button {
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.show-more-btn-sec .MuiSvgIcon-root{
  font-size: 18px;
  vertical-align: middle;
}
.multiple-select-box-section{
    border: 2px solid #ccc !important;
    padding: 3px 10px 0px 15px !important;
    border-radius: 5px;
    margin-top: 20px !important;
}
.add-more-field-btn-sec {
    text-align: right;
    padding-top: 10px;
}
.add-more-field-btn {
    color: #4674D0;
    border-bottom: 1px solid #4674D0;
    cursor: pointer;
}
/*Start.........input-css*/
.main-css3 {
    width: 17%;
    margin: 0px 0px 0 0px;
    padding: 15px 0 15px 10px;
}
.main-css2 {
    width: 32%;
    margin: 0px 0px 0 0px;
    padding: 15px 0 15px 10px;
}
.main-css {
    width: 25%;
    margin: 0px 0px 0 2px;
    padding: 15px 0 15px 10px;
}
.big-pera {
    display: flex;
    text-align: center;
}

/*End...........input-css*/

/*********scrollbar css******/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #DADDE5; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DADDE5; 
}
/*********scrollbar css end******/
.user_img{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;
  border-radius: 40px;
}
.img_cont{
  position: relative;
  height: 45px;
  width: 70px;
}
.online_icon{
  position: absolute;
  height: 10px;
  width:10px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.3em;
  right: 1.6em;
  border:1.5px solid white;
}